* {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #202C39;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wins, .turn {
    font-size: 1.3rem;
    background: #283845;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: #fff;
    padding: 20px 20px;
    width: 500px;
    text-align: center;
}

.wins p {
    font-size: 1.7rem;
}

.turn{
    margin-top: 10px;
    text-align: center;
    font-size: 1.7rem;
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    background: #000;
    width: 500px;
    height: 500px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    border: 3px solid #000;
    font-size: 100px;
}

.container div{
    background: #CFD6EA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div p {
    position: absolute;
}

img{
    height: 100px;
    width: 100px;
}

.hidden {
    display: none;
}

.play-again-btn {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 1rem;
    transition: .1s;
    border: none;
}

.play-again-btn:hover {
    background: #c4c4c4;
    cursor: pointer;
}