* {
    margin: 0;
    padding: 0;
    font-family: Alata;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #161617;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wins, .turn {
    font-size: 1.3rem;
    background: #4c5a66;
    border-radius: 16px;
    margin-bottom: 1rem;
    color: #fff;
    padding: 20px 20px;
    width: 500px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 1px 1px 16px #000;
}

.turn{
    margin-top: 1rem;
    text-align: center;
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    background: #171616;
    width: 500px;
    height: 500px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .8rem;
    /* border: 3px solid #000; */
    font-size: 100px;
    box-shadow: 1px 1px 16px #000;
}

.container div{
    background: #CFD6EA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 16px #000;
}

.container div p {
    display: flex;
    position: absolute;
    font-family: Fredoka One;
    font-weight: 100;
    font-size: 6rem;
}

img{
    height: 100px;
    width: 100px;
}

.hidden {
    display: none;
}

.play-again-btn {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: .1s;
    border: none;
}

.play-again-btn:hover {
    background: #ffffffc3;
    cursor: pointer;
    transition: .1s;
}

@media (max-width: 600px) {
    .container {
        width: 300px;
        height: 300px;
    }

    .wins, .turn {
        width: 300px;
    }

    .container div p{
        font-size: 4rem;
    }
}